{{- $myubuntu := promptBool "myubuntu" -}}
{{- $myfedora := promptBool "myfedora" -}}
{{- $usezsh := promptBool "usezsh" -}}
{{- $hasslurm := promptBool "hasslurm" -}}
{{- $powerlinehostname := promptString "powerlinehostname" "" -}}
encryption = "gpg"
[gpg]
    symmetric = true
    args = ["--quiet"]
[data]
    myubuntu = {{ $myubuntu }}
    myfedora = {{ $myfedora }}
    usezsh = {{ $usezsh }}
    hasslurm = {{ $hasslurm }}
    csd3 = false
    powerlinehostname = {{ $powerlinehostname | quote }}
