{{- $myubuntu := promptString "myubuntu" -}}
{{- $usezsh := promptString "usezsh" -}}
{{- $hasslurm := promptString "hasslurm" -}}
[data]
    myubuntu = {{ $myubuntu }}
    usezsh = {{ $usezsh }}
    hasslurm = {{ $hasslurm }}
