# Common system independent things for .bashrc
# Source this in the actual .bashrc

# Set environment variables
source ~/.env
if [ -f ~/.env_local ]; then
    source ~/.env_local
fi

# Bash pre-exec
source ~/.bash-preexec/bash-preexec.sh

# Aliases
source ~/.aliases

# fzf
[ -f ~/.fzf.bash ] && source ~/.fzf.bash

# Powerline
source ~/.powerline_location
if [[ $(hostname) == *"{{ .powerlinehostname }}"* ]]; then
    if [ -f `which powerline-daemon` ]; then
        powerline-daemon -q
        POWERLINE_BASH_CONTINUATION=1
        POWERLINE_BASH_SELECT=1
        PROMPT_COMMAND_READ_ONLY=$(readonly -p | egrep "declare -[[:lower:]]+ PROMPT_COMMAND=" 1> /dev/null; echo $?)
        if [[ $PROMPT_COMMAND_READ_ONLY -eq 0 ]]; then
            source $POWERLINE_BASH_BINDINGS_PATH/powerline-user.sh
        else
            source $POWERLINE_BASH_BINDINGS_PATH/powerline.sh
        fi
    fi
fi

# Tmux aliases
source ~/.tmux_aliases
{{ if .hasslurm }}
# SLURM restart functions
source ~/.slurm_restart_functions

# SLURM aliases
source ~/.slurm_aliases
{{ end }}
# Make ls colors nice
eval `dircolors ~/.dircolors`

# Chezmoi completions
if [ -f ~/.chezmoi_bash_completions ]; then
    source ~/.chezmoi_bash_completions
fi

# Bash shell options
shopt | grep -q '^direxpand\b' && shopt -s direxpand

# vim: set syntax=sh:
