[user]
	name = Miren Radia
	email = miren_radia@yahoo.co.uk
{{- if or .myubuntu .csd3 .myfedora }}
{{- if or .myubuntu .myfedora }}
	signingkey = EAE3A2BF653705F3
{{- else if .csd3 }}
	signingkey = A9EA055CDA1DE0DA
{{- end }}
[commit]
	gpgsign = true
{{- end }}
[confidential]
	helper = cache
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[clangFormat]
	binary = clang-format
[pager]
{{- if or .myubuntu .myfedora }}
	diff = delta
	log = delta
	reflog = delta
	show = delta
{{- end }}
	branch = false
	log = true
	stash = false
{{- if or .myubuntu .myfedora }}
[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	syntax-theme = Monokai Extended
	line-numbers = true
	#side-by-side = true
	navigate = true

[diff]
	colorMoved = default

[interactive]
	diffFilter = delta --color-only
{{- end }}
[alias]
	slog = !git --no-pager log --pretty=reference -n 10
	llog = !git --no-pager log --abbrev-commit -n 1
	sdiff = -c delta.side-by-side=true diff
	root = rev-parse --show-toplevel
[pull]
	ff = only
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.config/git/ignore
[fetch]
	prune = true

# vim:set syntax=gitconfig ts=4:
