# interactive bash session
function sint() {
{{- if .csd3 }}
    TMUX="" srun --pty --qos=INTR "$@" bash
{{- else }}
    srun --pty "$@" bash
{{- end }}
}

# alias for various SLURM commands
alias sjob="scontrol show job"
alias sq="squeue -o \"%.9i %.12j %.8u %.12a %.2t %.5Q %.10M %.10l %.5D %R\""
alias sqme="squeue -u ${USER} -o \"%.9i %.16j %.12a %.2t %.5Q %.10M %.10l %.5D %R\""
{{- if .csd3 }}
alias siknl="sinfo -p knl"
alias siskl="sinfo -p skylake"
alias siicl="sinfo -p icelake"
alias siccl="sinfo -p cclake"
alias siamp="sinfo -p ampere"
{{- end }}
{{- if eq .chezmoi.fqdnHostname "mn01.maths.cam.ac.uk" }}

# Modify sinfo command to show CPU status
alias si='sinfo -o "%10P %.5a %.10l %.6D %15C %.6t %N"'
alias sqf="squeue -o \"%.9i %.12j %.8u %.12a %.2t %.5Q %.10M %.10l %.5C %R\""
{{- end }}
